@import './Colors/App.scss';
@import './Colors/Palette.scss';

html,
body {
  height: 100%;
  margin: 1;
}

body{
    background-color: $Background;
    color: $Text;
}

.Content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Heading{
    padding: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Title{
    margin: 2px;
    display: flex;
    align-items: center;
    font-size: 40px;
}

.Logo{
    width: 50px;
}

.SearchBar{
    margin: 4px;
    display: flex;
    border-radius: 20px;
    background-color: $Background;
    box-shadow: 0px 0px 10px #272323;
}

.NoteRoot{
    padding: 2px;
    margin-top: 4px;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: space-around;
    scrollbar-width: 0;
}

.invisible{
    display: none;
}