$blue: #BDFFFD;
$yellow: #FED766;
$red: #EB5E55;
$violet: #A491D3;
$green: #D6FFB7;
$orange: #E8985E;

//Note-colors-classes
.color-blue{
    background-color: $blue;
}

.color-yellow{
    background-color: $yellow;
}

.color-red{
    background-color: $red;
}

.color-violet{
    background-color: $violet;
}

.color-green{
    background-color: $green;
}

.color-orange{
    background-color: $orange;
}