$Blue: #BDFFFD;
$Yellow: #FED766;
$Red: #EB5E55;
$Violet: #A491D3;
$Green: #D6FFB7;
$Orange: #E8985E;

:export {
    Blue: $Blue;
    Yellow: $Yellow;
    Red: $Red;
    Violet: $Violet;
    Green: $Green;
    Orange: $Orange;
}